FLASK_ENV=development
SECRET_KEY=change-this-in-production

DATABASE_URL=postgresql://postgres:postgres@db:5432/zerotrustpro

AWS_REGION=ap-south-1
S3_BUCKET=your-zero-trust-pro-bucket
SECRET_NAME=zero-trust-pro/database