{% extends "base.html" %}

{% block title %}
Domains | Zero Trust Pro
{% endblock %}

{% block content %}

<section class="page-header">

    <span>LEARNING DOMAINS</span>

    <h1>
        Explore Our Domains
    </h1>

    <p>
        Structured learning across cybersecurity, cloud,
        networking, systems, and practical security.
    </p>

</section>


<section class="section">

<div class="cards">

    <div class="card">
        <h3>Computer Fundamentals</h3>
        <p>Lead Instructor: Aftab Kamal</p>
    </div>

    <div class="card">
        <h3>Cloud Fundamentals</h3>
        <p>Lead Instructor: Sikandar Shah</p>
    </div>

    <div class="card">
        <h3>Cyber Security Fundamentals</h3>
        <p>Lead Instructor: Warisha Zeeshan</p>
    </div>

    <div class="card">
        <h3>Pre Security Path</h3>
        <p>Lead Instructor: M Sabtain</p>
    </div>

    <div class="card">
        <h3>Networking Fundamentals</h3>
        <p>Noor Habib & Karam Ilahi</p>
    </div>

    <div class="card">
        <h3>Linux</h3>
        <p>Lead Instructor: Hassan Alam</p>
    </div>

    <div class="card">
        <h3>Windows & Active Directory</h3>
        <p>Lead Instructor: Tariq Khan</p>
    </div>

    <div class="card">
        <h3>Blue & Red Team</h3>
        <p>Blue Team: Ahmad Haroon</p>
        <p>Red Team: Naveed Jan</p>
    </div>

    <div class="card">
        <h3>CTF Labs</h3>
        <p>Lead Instructor: Usman Jawed</p>
    </div>

</div>

</section>

{% endblock %}